<footer>
    <div class="container">
        <h2 class="title text-center txt-lg">Join Our Community!</h2>
        <div class="txt txt-md text-center">Be a part of us and support the development of Bitcoin Ordinal.</div>
        <div class="social flex">
            <a href="" title="telegram" class="telegram">telegram</a>
            <a href="" title="telegram" class="discord">Discord</a>
            <a href="" title="twitter" class="twitter">twitter</a>
            <a href="" title="twitter" class="youtube">Youtube</a>
        </div>
    </div>
</footer>