<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <div class="navbar-collapse" id="navbar">
                <ul class="navbar-nav flex">
                    <li><a href="/ordinalsatoshi/build/wallet" title="Wallet">Wallet</a></li>
                    <li><a href="/ordinalsatoshi/build/ai-generator" title="AI Generator">AI Generator</a></li>
                    <li><a href="/ordinalsatoshi/build/inscribe" title="Inscribe">Inscribe</a></li>
                    <li><a href="/ordinalsatoshi/build/brc-20" title="brc-20">brc-20</a></li>
                    <li><a href="/ordinalsatoshi/build/marketplace" title="Marketplace">Marketplace</a></li>
                    <li><a href="" title="Docs">Docs</a></li>
                </ul>
                <div class="b-coin flex-lc">
                    <div class="icon"><img src="./assets/img/token.svg" alt=""></div>
                    <span>xxxx...xxx</span>
                </div>
            </div>
        </nav>
    </div>
</header>
