<main>
    <div class="page-category">
        <div class="container">
            <div class="brc-20-detail">
                <h1 class="mb-2">Ordisats</h1>
                <div class="d-flex box-progress">
                    <div class="progress">
                        <div class="progress__val" style="width: 100%"></div>
                    </div>
                    <div class="txt-xs text-right">
                        <p>completed</p>
                        <span>100.00%</span>
                    </div>
                </div>
                <div class="overview mb-5">
                    <div class="header flex-lc">
                        <h4 class="txt-xd txt-gray-1 font-weight-bold">Overview</h4>
                        <div class="box-btn flex">
                            <a href="" title="" class="btn-view flex-center">View On Link</a>
                            <a href="" title="" class="btn-sub flex-center">Trade</a>
                        </div>
                    </div>
                    <div class="brc-info">
                        <div class="item">
                            <h5>inscription</h5>
                            <a href="" title="">b61b0172d95e266VSFAFAAFAFFXHJNUAD71a5d6d4ebc2aaed85da4642d635735i0</a>
                        </div>
                        <div class="item">
                            <h5>Supply</h5>
                            <p>--,---,---</p>
                        </div>
                        <div class="item">
                            <h5>Minted</h5>
                            <p>--,---,---</p>
                        </div>
                        <div class="item">
                            <h5>Limit per mint</h5>
                            <p>-,---</p>
                        </div>
                        <div class="item">
                            <h5>Decimal</h5>
                            <p>--</p>
                        </div>
                        <div class="item">
                            <h5>Deploy By</h5>
                            <a href="" title="">bc1XZSCSCASFV2y93fuft2xSDADDu3wc4rafevc6slgd7f5tq2dqyfgy06</a>
                        </div>
                        <div class="item">
                            <h5>Deploy Time</h5>
                            <p>DD/MM/YY, HH:MM:SS AM</p>
                        </div>
                        <div class="item">
                            <h5>Completed Time</h5>
                            <p>DD/MM/YY, HH:MM:SS AM</p>
                        </div>
                        <div class="item">
                            <h5>Inscription Number Start</h5>
                            <p>#------</p>
                        </div>
                        <div class="item">
                            <h5>Inscription Number End</h5>
                            <p>#------</p>
                        </div>
                        <div class="item">
                            <h5>Holders</h5>
                            <p>--,---</p>
                        </div>
                        <div class="item">
                            <h5>Total Transactions</h5>
                            <p>---,---</p>
                        </div>
                    </div>
                </div>
                <div class="overview">
                    <div class="header d-flex">
                        <ul class="tab-brc nav txt-xs flex mb-0">
                            <li><a href="#holders" data-toggle="tab" title="" class="active">Holders</a></li>
                            <li><a href="#transfers" data-toggle="tab" title="">Transfers</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="holders" class="tab-pane fade show active">
                            <div class="box-table">
                                <table class="table-detail">
                                    <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Address</th>
                                        <th>Percentage</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><span>xxxxx...xxxxx</span></td>
                                        <td>
                                            <div class="box-percentage">
                                                <div class="val">5.00%</div>
                                                <div class="progress"><div class="progress__val" style="width: 30%"></div></div>
                                            </div>
                                        </td>
                                        <td>-.---,---</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><span>xxxxx...xxxxx</span></td>
                                        <td>
                                            <div class="box-percentage">
                                                <div class="val">5.00%</div>
                                                <div class="progress"><div class="progress__val" style="width: 30%"></div></div>
                                            </div>
                                        </td>
                                        <td>-.---,---</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><span>xxxxx...xxxxx</span></td>
                                        <td>
                                            <div class="box-percentage">
                                                <div class="val">5.00%</div>
                                                <div class="progress"><div class="progress__val" style="width: 30%"></div></div>
                                            </div>
                                        </td>
                                        <td>-.---,---</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#"><i class="icon icon-prev"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">...</li>
                                <li class="page-item"><a class="page-link" href="#">11</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="icon icon-next"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div id="transfers" class="tab-pane fade">

                        </div>
                    </div>
                </div>
            </div>
            <div class="social flex-center">
                <a href="" title="" class="telegram">Telegram</a>
                <a href="" title="" class="discord">Discord</a>
                <a href="" title="" class="twitter">Twitter</a>
                <a href="" title="" class="youtube">youtube</a>
            </div>
        </div>
    </div>
</main>