<main>
    <div class="page-category">
        <div class="container">
            <div class="brc-20">
                <h1 class="text-center mb-32">Check out brc-20 balance of the address.</h1>
                <div class="box-search txt-xd mb-32">
                    <form action="" method="" class="d-flex">
                        <input type="text" placeholder="xxxxx...xxxxx">
                        <button type="submit" class="btn-submit flex-center"><i class="icon icon-search"></i></button>
                    </form>
                </div>
                <div class="txt-xs txt-gray-1 text-center font-weight-bold">Recognize all operations including DEPLOY, MINT and <span class="txt-yellow">TRANSFER.</span></div>
                <div class="brc-list">
                    <h4 class="txt-gray-1 txt-xd font-weight-bold text-center mb-3">The full list of brc-20</h4>
                    <div class="flex-center">
                        <ul class="tab-brc nav txt-xs flex">
                            <li><a href="#all" data-toggle="tab" title="" class="active">All</a></li>
                            <li><a href="#progress" data-toggle="tab" title="">In-Progress</a></li>
                            <li><a href="#completed" data-toggle="tab" title="">Completed</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="all" class="tab-pane fade show active">
                            <div class="box-table">
                                <div class="row row-head">
                                    <div class="col">
                                        <div class="box-search sm txt-xs">
                                            <form action="" method="" class="d-flex">
                                                <input type="text" placeholder="ordi">
                                                <button type="submit" class="btn-submit flex-center"><i class="icon icon-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="flex-center">
                                            <span>Deploy Time</span>
                                            <i class="icon arrow-down"></i>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="flex-center">
                                            <span>Progress</span>
                                            <i class="icon arrow-down-p"></i>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="flex-center">
                                            <span>Holders</span>
                                            <i class="arrow-down"></i>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="flex-center">
                                            <span>Transactions</span>
                                            <i class="arrow-down"></i>
                                        </div>
                                    </div>
                                    <div class="col">

                                    </div>
                                </div>
                                <div class="row row-body">
                                    <div class="col">Ordisats</div>
                                    <div class="col">DD/MM/YY, HH:MM:SS AM</div>
                                    <div class="col">
                                        <div class="box-progress">
                                            <div class="val">85.00%</div>
                                            <div class="progress"><div class="progress__val" style="width: 80%"></div></div>
                                        </div>
                                    </div>
                                    <div class="col">--,---</div>
                                    <div class="col">--,---</div>
                                    <div class="col"><a href="" class="btn-arrow-right flex-center"><i class="icon arrow-right"></i></a></div>
                                </div>
                                <div class="row row-body">
                                    <div class="col">Ordisats</div>
                                    <div class="col">DD/MM/YY, HH:MM:SS AM</div>
                                    <div class="col">
                                        <div class="box-progress">
                                            <div class="val">85.00%</div>
                                            <div class="progress"><div class="progress__val" style="width: 80%"></div></div>
                                        </div>
                                    </div>
                                    <div class="col">--,---</div>
                                    <div class="col">--,---</div>
                                    <div class="col"><a href="" class="btn-arrow-right flex-center"><i class="icon arrow-right"></i></a></div>
                                </div>
                                <div class="row row-body">
                                    <div class="col">Ordisats</div>
                                    <div class="col">DD/MM/YY, HH:MM:SS AM</div>
                                    <div class="col">
                                        <div class="box-progress">
                                            <div class="val">85.00%</div>
                                            <div class="progress"><div class="progress__val" style="width: 80%"></div></div>
                                        </div>
                                    </div>
                                    <div class="col">--,---</div>
                                    <div class="col">--,---</div>
                                    <div class="col"><a href="" class="btn-arrow-right flex-center"><i class="icon arrow-right"></i></a></div>
                                </div>
                                <div class="row row-body">
                                    <div class="col">Ordisats</div>
                                    <div class="col">DD/MM/YY, HH:MM:SS AM</div>
                                    <div class="col">
                                        <div class="box-progress">
                                            <div class="val">85.00%</div>
                                            <div class="progress"><div class="progress__val" style="width: 80%"></div></div>
                                        </div>
                                    </div>
                                    <div class="col">--,---</div>
                                    <div class="col">--,---</div>
                                    <div class="col"><a href="" class="btn-arrow-right flex-center"><i class="icon arrow-right"></i></a></div>
                                </div>
                            </div>
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#"><i class="icon icon-prev"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">...</li>
                                <li class="page-item"><a class="page-link" href="#">11</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="icon icon-next"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div id="progress" class="tab-pane fade">

                        </div>
                        <div id="completed" class="tab-pane fade">

                        </div>
                    </div>
                </div>
            </div>
            <div class="social flex-center">
                <a href="" title="" class="telegram">Telegram</a>
                <a href="" title="" class="discord">Discord</a>
                <a href="" title="" class="twitter">Twitter</a>
                <a href="" title="" class="youtube">youtube</a>
            </div>
        </div>
    </div>
</main>