<main>
    <div class="page-category">
        <div class="container">
            <div class="ai-generator">
                <h1 class="title">AI IMAGE GENERATOR</h1>
                <div class="box-generate mb-5">
                    <form action="">
                        <input type="text" name="" placeholder="Describe your image">
                        <button type="submit" class="btn-sub flex-center txt-xs">Generate Art</button>
                    </form>
                </div>
                <ul class="list-generate d-grid">
                    <li><img src="./assets/img/im1.svg" alt=""></li>
                    <li><img src="./assets/img/im2.svg" alt=""></li>
                    <li><img src="./assets/img/im3.svg" alt=""></li>
                    <li><img src="./assets/img/im4.svg" alt=""></li>
                    <li><img src="./assets/img/im5.svg" alt=""></li>
                    <li><img src="./assets/img/im6.svg" alt=""></li>
                    <li><img src="./assets/img/im7.svg" alt=""></li>
                    <li><img src="./assets/img/im8.svg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
</main>