<main>
    <div class="satoshi-frame1">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="content">
                        <h1 data-aos="fade-up">OrdinalSatoshi</h1>
                        <p class="txt-lg f-revalia" data-aos="fade-up" data-aos-delay="200">We Embrace the Development of Bitcoin Ordinal and the Integration of AI into NFT Marketplace</p>
                        <ul class="txt-md" data-aos="fade-up" data-aos-delay="400">
                            <li>Ordinal Inscribe</li>
                            <li>Ordinal AI Image Generator</li>
                            <li>Ordinal Wallet</li>
                            <li>Ordinal Marketplace</li>
                            <li>BRC-20</li>
                            <li>Auto Liquidity Market Maker For NFT</li>
                        </ul>
                        <div class="social flex-lc" data-aos="fade-right" data-aos-delay="600">
                            <a href="" title="" class="telegram">telegram</a>
                            <a href="" title="" class="discord">discord</a>
                            <a href="" title="" class="twitter">twitter</a>
                        </div>
                        <a href="" title="" class="btn-pr btn-join" data-aos="fade-right" data-aos-delay="600">Join Fair Launch</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="img-wrapper"><img src="./assets/img/phone-screen-3.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="satoshi-frame2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/wallet-images.png" alt=""></div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <h2 class="title" data-aos="fade-up">About OrdinalSatoshi</h2>
                        <div class="txt-sm mb-3 txt-gray-1" data-aos="fade-up" data-aos-delay="200">
                            <p>Introducing the Ordinal Satoshi Project, a groundbreaking initiative that aims to revolutionize the world of blockchain and Bitcoin.</p>
                            <p>The Ordinal Satoshi project is the first project to apply AI in generating NFTs, specifically in the process of text to image conversion. Additionally, we are also developing a Bitcoin wallet and a marketplace for trading BRC-20 NFTs. One of the marketplace's key feature is the implementation of an auto liquidity market maker mechanism, which holds great potential.</p>
                        </div>
                        <a href="" title="Learn More" class="btn-more" data-aos="fade-up" data-aos-delay="400">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="satoshi-frame3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="content">
                        <h2 class="title" data-aos="fade-up">Ordinal Satoshi Wallet</h2>
                        <div class="txt-sm mb-3 txt-gray-1" data-aos="fade-up" data-aos-delay="200">
                            <p>OrdinalSatoshi Wallet operates as a hierarchical deterministic wallet, where your accounts are generated based on your Secret Recovery Phrase. To ensure security, your private keys are encrypted on your device using your password and are never disclosed to any third party.</p>
                        </div>
                        <a href="" title="Learn More" class="btn-more" data-aos="fade-up" data-aos-delay="400">Learn More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/nft.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="satoshi-frame4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/mkp-1.png" alt=""></div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <h2 class="title" data-aos="fade-up">NFT Market Place & Auto Liquidity Market Maker</h2>
                        <div class="txt-sm mb-3 txt-gray-1" data-aos="fade-up" data-aos-delay="200">
                            <p>To maintain liquidity and increase the value of Ordinal NFTs, a portion of the transaction fees will repurchase minted NFTs. Repurchase decisions will consider factors such as image quality, storytelling, and viral potential.</p>
                        </div>
                        <a href="" title="Learn More" class="btn-more" data-aos="fade-up" data-aos-delay="400">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="satoshi-frame5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="content">
                        <h2 class="title" data-aos="fade-up">OrdinalSatoshi Wallet</h2>
                        <div class="txt-sm mb-3 txt-gray-1" data-aos="fade-up" data-aos-delay="200">
                            <p>The UniSat Wallet operates as a hierarchical deterministic wallet, where your accounts are generated based on your Secret Recovery Phrase. To ensure security, your private keys are encrypted on your device using your password and are never disclosed to any third party.</p>
                        </div>
                        <a href="" title="Learn More" class="btn-more" data-aos="fade-up" data-aos-delay="400">Learn More</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="img-wrapper"><img src="./assets/img/phone-screen-wallet-1.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="satoshi-frame6">
        <div class="container">
            <h2 class="title">Partners</h2>
            <ul class="partner-list">
                <li data-aos="fade-up"><a href=""><img src="./assets/img/pinksale-white.png" alt=""></a></li>
                <li data-aos="fade-up" data-aos-delay="200"><a href=""><img src="./assets/img/dexView-logo.png" alt=""></a></li>
                <li data-aos="fade-up" data-aos-delay="400"><a href=""><img src="./assets/img/coinsult_full.png" alt=""></a></li>
                <li data-aos="fade-up" data-aos-delay="600"><a href=""><img src="./assets/img/logo_ethereum.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</main>