<main>
    <div class="page-category">
        <div class="container">
            <div class="inscribe">
                <h1 class="title">Inscribe</h1>
                <ul class="inscribe__tab flex txt-xs">
                    <li><a href="javascript:;" title="" class="active">Files</a></li>
                    <li><a href="javascript:;" title="" data-toggle="modal" data-target="#modal-sats">.sat</a></li>
                    <li><a href="javascript:;" title="" data-toggle="modal" data-target="#modal-add-text">Text</a></li>
                    <li><a href="javascript:;" title="" data-toggle="modal" data-target="#modal-brc">BRC-20</a></li>
                    <li><a href="javascript:;" title="" data-toggle="modal" data-target="#modal-ordisat">.Ordisat</a></li>
                </ul>
                <div class="inscribe__content">
                    <div class="flex-lc justify-content-between">
                        <h4 class="txt-sm font-weight-bold txt-gray-1">Upload your files to begin</h4>
                        <button type="button" class="btn-remove flex-center txt-xs">Remove all</button>
                    </div>
                    <div class="box-upload">
                        <div class="upload pr">
                            <input id="upload_id" type="file" required="">
                            <i class="icon-upload"></i>
                            <p class="txt-gray-1">Drag and drop your files here, or click to select files</p>
                            <span>.jpg, .webp, .png, .gif, .txt, .mp3, .mp4(h264) + more!</span>
                        </div>
                        <div id="image-holder" class="image-holder"></div>
                    </div>
                    <div class="box-address">
                        <h5 class="txt-gray-1 font-weight-bold">Provide the address to receive the inscription:</h5>
                        <input type="text" name="" placeholder="Receive BTC Address">
                    </div>
                    <div class="box-note txt-gray-1 pr">
                        Please note the inscribing transaction delivers the inscription to the receiving address directly.
                    </div>
                    <button type="submit" class="btn-sub flex-center">Submit & Pay invoice</button>
                </div>
            </div>
            <div class="social flex-center">
                <a href="" title="" class="telegram">Telegram</a>
                <a href="" title="" class="discord">Discord</a>
                <a href="" title="" class="twitter">Twitter</a>
                <a href="" title="" class="youtube">youtube</a>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="modal-sats">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close txt-xs" data-dismiss="modal">close</button>
            <div class="txt-sm font-weight-bold txt-gray-1 mb-4">Add your <span>.sats</span> names below, each one on a new line.</div>
            <div class="box-text">
                <textarea  name="" rows="4" cols="50">aaa.sats</textarea>
            </div>
            <button type="button" class="btn-sub flex-center">Next</button>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-add-text">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close txt-xs" data-dismiss="modal">close</button>
            <div class="txt-sm font-weight-bold txt-gray-1 mb-32">Add your text below</div>
            <div class="txt-gray-1 txt-xd mb-4">
                <p>If single, we will inscribe exactly what is there.</p>
                <p>If bulk, we will inscribe one for every new line.</p>
            </div>
            <div class="radio-check-list flex mb-32">
                <label class="flex-lc txt-xd">
                    <input type="radio" name="text" checked>
                    <span class="checked"></span>
                    Single
                </label>
                <label class="flex-lc txt-xd">
                    <input type="radio" name="text">
                    <span class="checked"></span>
                    Bulk
                </label>
            </div>
            <div class="box-text">
                <textarea  name="" rows="4" cols="50" placeholder="any text here"></textarea>
            </div>
            <button type="button" class="btn-sub flex-center">Next</button>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-ordisat">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close txt-xs" data-dismiss="modal">close</button>
            <div class="txt-sm font-weight-bold txt-gray-1 mb-4">Add your <span>.sats</span> names below, each one on a new line.</div>
            <div class="box-text">
                <textarea  name="" spellcheck="false">aaa.ordisats</textarea>
            </div>
            <button type="button" class="btn-sub flex-center">Next</button>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-brc">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close txt-xs mb-3" data-dismiss="modal">close</button>
            <div class="txt-sm font-weight-bold txt-gray-1 mb-3">brc-20</div>
            <a href="" title="" class="btn-read-more txt-xd mb-4">Read more details about brc-20</a>
            <div class="radio-check-list flex mb-32">
                <label class="flex-lc txt-xd">
                    <input type="radio" name="brc" checked>
                    <span class="checked"></span>
                    Mint
                </label>
                <label class="flex-lc txt-xd">
                    <input type="radio" name="brc">
                    <span class="checked"></span>
                    Deploy
                </label>
            </div>
            <form action="" method="">
                <div class="form-group flex-lc">
                    <label class="txt-xd txt-gray-1">Tick</label>
                    <input type="text" name="" placeholder="4 characters like “abcd”...">
                </div>
                <div class="form-group flex-lc">
                    <label class="txt-xd txt-gray-1">Amount</label>
                    <input type="number" name="" value="1">
                </div>
            </form>
            <div class="box-range flex-lc pr">
                <p class="flex-lc txt-xd txt-gray-1">Repeat Mint <span class="flex-center" id="range-value"></span></p>
                <input type="range" min="1" max="100" value="1" class="slider" id="range">
            </div>
            <button type="button" class="btn-sub flex-center">Next</button>
        </div>
    </div>
</div>