<main>
    <div class="page-category">
        <div class="container">
            <div class="marketplace">
                <h1 class="text-center">Marketplace</h1>
                <ul class="tab-marketplace nav txt-xs">
                    <li><a href="#ordisats" data-toggle="tab" title="" class="active"><span>Ordisats</span></a></li>
                    <li><a href="#sats" data-toggle="tab" title=""><span>.sats</span></a></li>
                    <li><a href="#unisats" data-toggle="tab" title=""><span>.unisats</span></a></li>
                </ul>
                <div class="bar-control flex-lc">
                    <div class="show-type txt-xs d-flex flex-nowrap">
                        <button type="button" class="active">Listed</button>
                        <button type="button">Orders</button>
                    </div>
                    <div class="or-info txt-xs">Ordisats Info</div>
                    <div class="filter">
                        <h5 class="txt-xs font-weight-bold txt-gray-1">Price:</h5>
                        <select name="" class="select2-min">
                            <option value="">From Low to High</option>
                            <option value="">From High to Low</option>
                        </select>
                    </div>
                    <button type="button" class="btn-reset flex-center"><i class="icon icon-reset"></i></button>
                    <button type="button" class="btn-sub flex-center flex-nowrap">My Inscriptions <i class="icon arrow-down"></i></button>
                </div>
                <div class="tab-content">
                    <div id="ordisats" class="tab-pane fade show active">
                        <div class="marketplace-list d-grid">
                            <div class="item">
                                <div class="header flex-lc justify-content-between">
                                    <h5 class="font-weight-bold">ordisats</h5>
                                    <button type="button" class="btn-transfer font-weight-bold">transfer</button>
                                </div>
                                <div class="txt-sm txt-gray-1 font-weight-bold text-center mb-3">---</div>
                                <div class="txt-2 flex-center mb-2">
                                    <p>-----</p>
                                    <p>sats/ ordisats</p>
                                </div>
                                <div class="balence text-center font-weight-bold">$-.--</div>
                                <div class="bottom">
                                    <div class="txt-3 flex-lc justify-content-between">
                                        <p>#xxxxxxxx</p>
                                        <p>xxxxx...xxxxx</p>
                                    </div>
                                    <div class="txt-4 flex-lc justify-content-between">
                                        <p class="flex-lc">-,---,---<span>ordisats</span></p>
                                        <p>$---.--</p>
                                    </div>
                                    <button type="button" class="btn-buy flex-center txt-xs">Buy</button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="header flex-lc justify-content-between">
                                    <h5 class="font-weight-bold">ordisats</h5>
                                    <button type="button" class="btn-transfer font-weight-bold">transfer</button>
                                </div>
                                <div class="txt-sm txt-gray-1 font-weight-bold text-center mb-3">---</div>
                                <div class="txt-2 flex-center mb-2">
                                    <p>-----</p>
                                    <p>sats/ ordisats</p>
                                </div>
                                <div class="balence text-center font-weight-bold">$-.--</div>
                                <div class="bottom">
                                    <div class="txt-3 flex-lc justify-content-between">
                                        <p>#xxxxxxxx</p>
                                        <p>xxxxx...xxxxx</p>
                                    </div>
                                    <div class="txt-4 flex-lc justify-content-between">
                                        <p class="flex-lc">-,---,---<span>ordisats</span></p>
                                        <p>$---.--</p>
                                    </div>
                                    <button type="button" class="btn-buy flex-center txt-xs">Buy</button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="header flex-lc justify-content-between">
                                    <h5 class="font-weight-bold">ordisats</h5>
                                    <button type="button" class="btn-transfer font-weight-bold">transfer</button>
                                </div>
                                <div class="txt-sm txt-gray-1 font-weight-bold text-center mb-3">---</div>
                                <div class="txt-2 flex-center mb-2">
                                    <p>-----</p>
                                    <p>sats/ ordisats</p>
                                </div>
                                <div class="balence text-center font-weight-bold">$-.--</div>
                                <div class="bottom">
                                    <div class="txt-3 flex-lc justify-content-between">
                                        <p>#xxxxxxxx</p>
                                        <p>xxxxx...xxxxx</p>
                                    </div>
                                    <div class="txt-4 flex-lc justify-content-between">
                                        <p class="flex-lc">-,---,---<span>ordisats</span></p>
                                        <p>$---.--</p>
                                    </div>
                                    <button type="button" class="btn-buy flex-center txt-xs">Buy</button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="header flex-lc justify-content-between">
                                    <h5 class="font-weight-bold">ordisats</h5>
                                    <button type="button" class="btn-transfer font-weight-bold">transfer</button>
                                </div>
                                <div class="txt-sm txt-gray-1 font-weight-bold text-center mb-3">---</div>
                                <div class="txt-2 flex-center mb-2">
                                    <p>-----</p>
                                    <p>sats/ ordisats</p>
                                </div>
                                <div class="balence text-center font-weight-bold">$-.--</div>
                                <div class="bottom">
                                    <div class="txt-3 flex-lc justify-content-between">
                                        <p>#xxxxxxxx</p>
                                        <p>xxxxx...xxxxx</p>
                                    </div>
                                    <div class="txt-4 flex-lc justify-content-between">
                                        <p class="flex-lc">-,---,---<span>ordisats</span></p>
                                        <p>$---.--</p>
                                    </div>
                                    <button type="button" class="btn-buy flex-center txt-xs">Buy</button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="header flex-lc justify-content-between">
                                    <h5 class="font-weight-bold">ordisats</h5>
                                    <button type="button" class="btn-transfer font-weight-bold">transfer</button>
                                </div>
                                <div class="txt-sm txt-gray-1 font-weight-bold text-center mb-3">---</div>
                                <div class="txt-2 flex-center mb-2">
                                    <p>-----</p>
                                    <p>sats/ ordisats</p>
                                </div>
                                <div class="balence text-center font-weight-bold">$-.--</div>
                                <div class="bottom">
                                    <div class="txt-3 flex-lc justify-content-between">
                                        <p>#xxxxxxxx</p>
                                        <p>xxxxx...xxxxx</p>
                                    </div>
                                    <div class="txt-4 flex-lc justify-content-between">
                                        <p class="flex-lc">-,---,---<span>ordisats</span></p>
                                        <p>$---.--</p>
                                    </div>
                                    <button type="button" class="btn-buy flex-center txt-xs">Buy</button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="header flex-lc justify-content-between">
                                    <h5 class="font-weight-bold">ordisats</h5>
                                    <button type="button" class="btn-transfer font-weight-bold">transfer</button>
                                </div>
                                <div class="txt-sm txt-gray-1 font-weight-bold text-center mb-3">---</div>
                                <div class="txt-2 flex-center mb-2">
                                    <p>-----</p>
                                    <p>sats/ ordisats</p>
                                </div>
                                <div class="balence text-center font-weight-bold">$-.--</div>
                                <div class="bottom">
                                    <div class="txt-3 flex-lc justify-content-between">
                                        <p>#xxxxxxxx</p>
                                        <p>xxxxx...xxxxx</p>
                                    </div>
                                    <div class="txt-4 flex-lc justify-content-between">
                                        <p class="flex-lc">-,---,---<span>ordisats</span></p>
                                        <p>$---.--</p>
                                    </div>
                                    <button type="button" class="btn-buy flex-center txt-xs">Buy</button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="header flex-lc justify-content-between">
                                    <h5 class="font-weight-bold">ordisats</h5>
                                    <button type="button" class="btn-transfer font-weight-bold">transfer</button>
                                </div>
                                <div class="txt-sm txt-gray-1 font-weight-bold text-center mb-3">---</div>
                                <div class="txt-2 flex-center mb-2">
                                    <p>-----</p>
                                    <p>sats/ ordisats</p>
                                </div>
                                <div class="balence text-center font-weight-bold">$-.--</div>
                                <div class="bottom">
                                    <div class="txt-3 flex-lc justify-content-between">
                                        <p>#xxxxxxxx</p>
                                        <p>xxxxx...xxxxx</p>
                                    </div>
                                    <div class="txt-4 flex-lc justify-content-between">
                                        <p class="flex-lc">-,---,---<span>ordisats</span></p>
                                        <p>$---.--</p>
                                    </div>
                                    <button type="button" class="btn-buy flex-center txt-xs">Buy</button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="header flex-lc justify-content-between">
                                    <h5 class="font-weight-bold">ordisats</h5>
                                    <button type="button" class="btn-transfer font-weight-bold">transfer</button>
                                </div>
                                <div class="txt-sm txt-gray-1 font-weight-bold text-center mb-3">---</div>
                                <div class="txt-2 flex-center mb-2">
                                    <p>-----</p>
                                    <p>sats/ ordisats</p>
                                </div>
                                <div class="balence text-center font-weight-bold">$-.--</div>
                                <div class="bottom">
                                    <div class="txt-3 flex-lc justify-content-between">
                                        <p>#xxxxxxxx</p>
                                        <p>xxxxx...xxxxx</p>
                                    </div>
                                    <div class="txt-4 flex-lc justify-content-between">
                                        <p class="flex-lc">-,---,---<span>ordisats</span></p>
                                        <p>$---.--</p>
                                    </div>
                                    <button type="button" class="btn-buy flex-center txt-xs">Buy</button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="header flex-lc justify-content-between">
                                    <h5 class="font-weight-bold">ordisats</h5>
                                    <button type="button" class="btn-transfer font-weight-bold">transfer</button>
                                </div>
                                <div class="txt-sm txt-gray-1 font-weight-bold text-center mb-3">---</div>
                                <div class="txt-2 flex-center mb-2">
                                    <p>-----</p>
                                    <p>sats/ ordisats</p>
                                </div>
                                <div class="balence text-center font-weight-bold">$-.--</div>
                                <div class="bottom">
                                    <div class="txt-3 flex-lc justify-content-between">
                                        <p>#xxxxxxxx</p>
                                        <p>xxxxx...xxxxx</p>
                                    </div>
                                    <div class="txt-4 flex-lc justify-content-between">
                                        <p class="flex-lc">-,---,---<span>ordisats</span></p>
                                        <p>$---.--</p>
                                    </div>
                                    <button type="button" class="btn-buy flex-center txt-xs">Buy</button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="header flex-lc justify-content-between">
                                    <h5 class="font-weight-bold">ordisats</h5>
                                    <button type="button" class="btn-transfer font-weight-bold">transfer</button>
                                </div>
                                <div class="txt-sm txt-gray-1 font-weight-bold text-center mb-3">---</div>
                                <div class="txt-2 flex-center mb-2">
                                    <p>-----</p>
                                    <p>sats/ ordisats</p>
                                </div>
                                <div class="balence text-center font-weight-bold">$-.--</div>
                                <div class="bottom">
                                    <div class="txt-3 flex-lc justify-content-between">
                                        <p>#xxxxxxxx</p>
                                        <p>xxxxx...xxxxx</p>
                                    </div>
                                    <div class="txt-4 flex-lc justify-content-between">
                                        <p class="flex-lc">-,---,---<span>ordisats</span></p>
                                        <p>$---.--</p>
                                    </div>
                                    <button type="button" class="btn-buy flex-center txt-xs">Buy</button>
                                </div>
                            </div>
                        </div>
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#"><i class="icon icon-prev"></i></a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">...</li>
                            <li class="page-item"><a class="page-link" href="#">11</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="icon icon-next"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div id="sats" class="tab-pane fade"></div>
                    <div id="unisats" class="tab-pane fade"></div>
                </div>
            </div>
            <div class="social flex-center">
                <a href="" title="" class="telegram">Telegram</a>
                <a href="" title="" class="discord">Discord</a>
                <a href="" title="" class="twitter">Twitter</a>
                <a href="" title="" class="youtube">youtube</a>
            </div>
        </div>
    </div>
</main>