<main>
    <div class="page-category">
        <div class="box-wallet">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="wallet">
                            <div class="flex-lc justify-content-between">
                                <div class="coin"><img src="./assets/img/token.svg" width="45" alt=""></div>
                                <div class="txt">xxxxxx...xxx</div>
                                <button type="button" class="btn-setting"><i class="icon icon-setting"></i></button>
                            </div>
                            <div class="balance text-center">
                                <h5 class="txt-xs txt-gray-1">BTC Balance</h5>
                                <div class="na">----</div>
                            </div>
                            <div class="box-btn grid">
                                <button type="button" class="btn-sub flex-center">Send</button>
                                <button type="button" class="btn-sub flex-center">Receive</button>
                            </div>
                            <div class="box-coin flex">
                                <div class="coin flex">
                                    <div class="coin__img"><img src="./assets/img/token.svg" width="50" alt=""></div>
                                    <div class="coin__info">
                                        <div class="na sm">$N/A</div>
                                        <span class="txt-xs txt-gray-1">Balance</span>
                                    </div>
                                </div>
                                <div class="box-na">
                                    <div class="na">N/A</div>
                                    <span class="txt-xs txt-gray-1">~$N/A</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box-list d-grid">
                            <div class="item flex-center">
                                <div class="na">----</div>
                                <div class="txt-xs">UTXOS</div>
                            </div>
                            <div class="item flex-center">
                                <div class="na">----</div>
                                <div class="txt-xs">Incoming TX</div>
                            </div>
                            <div class="item flex-center">
                                <div class="na">----</div>
                                <div class="txt-xs">Inscriptions</div>
                            </div>
                            <div class="item flex-center">
                                <div class="na">----</div>
                                <div class="txt-xs">Tokens</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-inscriptions">
            <div class="container">
                <div class="header flex align-items-start">
                    <h2 class="title">My inscriptions</h2>
                    <ul class="tab nav txt-xs">
                        <li><a href="#nft" data-toggle="tab" title="" class="active">NFT</a></li>
                        <li><a href="#brc" data-toggle="tab" title="">BRC20</a></li>
                        <li><a href="#sns" data-toggle="tab" title="">SNS</a></li>
                        <li><a href="#wallet" data-toggle="tab" title="">Wallet history</a></li>
                    </ul>
                </div>
                <div class="box-info d-grid">
                    <div class="item">
                        <h5>INSCRIPTION BALANCE</h5>
                        <div class="na">----</div>
                    </div>
                    <div class="item">
                        <h5>TOTAL VALUE</h5>
                        <div class="na">----</div>
                    </div>
                    <div class="item">
                        <h5>TOTAL ITEMS</h5>
                        <div class="na">----</div>
                    </div>
                    <div class="item">
                        <h5>SOLD ITEMS</h5>
                        <div class="na">----</div>
                    </div>
                    <div class="item">
                        <h5>LISTED ITEMS</h5>
                        <div class="na">----</div>
                    </div>
                    <div class="item">
                        <h5>PUBLIC COLLECTION</h5>
                        <div class="na">----</div>
                    </div>
                </div>
                <div class="flex justify-content-between">
                    <ul class="tab nav txt-xs">
                        <li><a href="#showall" data-toggle="tab" title="" class="active">Show all</a></li>
                        <li><a href="#listed" data-toggle="tab" title="">Listed</a></li>
                        <li><a href="#sold" data-toggle="tab" title="">Sold</a></li>
                    </ul>
                    <div class="box-control flex-lc">
                        <div class="box-select">
                            <select name="" class="select2-min">
                                <option value="">Highest Collections</option>
                                <option value="">Lowest Collections</option>
                                <option value="">Collections</option>
                            </select>
                        </div>
                        <button type="button" class="btn-show-list"></button>
                        <button type="button" class="btn-show-block"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>