:root{
  --yellow: #EAC249;
  --gray: #A6A6A6;
  --orange: #DD7903;
  --Revalia: 'Revalia', cursive;
}
body{
  background: #000;
  font-family: 'Red Hat Mono', monospace;
  font-size: 14px;
  color: #000;
  line-height: 21px;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

html,body{scroll-behavior: smooth;}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}

@mixin hover{filter: saturate(2.1); -webkit-filter: saturate(2.1);}
a{transition: .25s; color: #000;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%;
  background: #000;
  position: fixed; z-index: 9;
  &.scroll{box-shadow: 0 2px 4px rgba(#000,.18);}
  .navbar-toggle{display: none;}
  .b-coin{
    margin-left: auto;
    border-radius: 9999px;
    border: 1px solid #EAC249;
    padding: 4.5px 8px;
    .icon{width: 31px;}
    .icon img{border-radius: 50%;}
    span{padding: 0 10px; color: #D9D9D9; font-weight: 700; font-size: 14px; line-height: 19px;}
  }
}
.navbar{
  height: 100%; width: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: 0;
  border-radius: 0; border: none;
  .logo{width: 289px;}
}

.navbar-collapse{
  padding: 0;
  justify-content: flex-start;
  .close{display: none;}
}
.navbar-nav{
  margin: 0 0 0 58px; align-items: center;
  >*+*{margin-left: 35px;}
  > li{display: flex; align-items: center;}
  > li > a{display: block; font-size: 16px; font-weight: 700; color: #D9D9D9; line-height: 36px; position: relative;}
  a:hover,.active{color: var(--yellow);}
}

//main
main{min-height: 78vh; padding-top: 79px;}
.satoshi-frame1{
  padding: 36px 0 110px;
  background:#231B14 url("#{$img-path}/bg-dc.svg") no-repeat 0 0/cover;
  .content{padding-top: 11.5%;}
  p{margin-bottom: 38px; max-width: 624px; color: var(--gray);}
  .social{
    margin-bottom: 28px;
    a{width: 19px; height: 16px;}
  }
  ul{
    margin-bottom: 40px;
    color: var(--yellow);
    li{position: relative; padding-left: 35px;}
    li::before{
      content: "";
      width: 18px; height: 18px;
      background: url("#{$img-path}/tick.svg") no-repeat 0 0/contain;
      position: absolute; left: 0; top: 7px;
    }
  }
  .img-wrapper{padding-left: 45px; animation: flash .8s infinite linear;}
}
.satoshi-frame2{
  background: #2B2626; padding: 69px 0 101px;
  .content{margin-top: 60px;}
}
.satoshi-frame3{
  background: #16110d; padding: 122px 0;
  .content{max-width: 567px;}
}
.satoshi-frame4{
  background: #2B2626; padding: 83px 0 48px;
  .img-wrapper{margin-left: -70px;}
  .content{margin-top: -40px;}
}
.satoshi-frame5{
  padding: 38px 0 25px;
  background: #16110d; position: relative;
  &::after{
    content: "";
    height: 100%; width: 87%;
    background: linear-gradient(270deg, #6F6464 0%, rgba(111, 100, 100, 0) 96.82%);
    position: absolute; top: 0; right: 0;
  }
  .content{max-width: 625px;}
  .img-wrapper img{display: block; margin: 0 auto;}
  .content,.img-wrapper{position: relative; z-index: 2;}
}
.satoshi-frame6{
  background: #16110d; padding: 110px 0 150px;
  .title{margin-bottom: 55px; color: #EAC249;}
  .partner-list{
    display: grid; grid-template-columns: repeat(4,1fr);
    grid-gap: 21px;
    a{
      width: 100%;
      height: 123px;
      display: flex; align-items: center; justify-content: center;
      padding: 10px 20px;
      background: #2B2626;
      border-radius: 15px;
    }
    img{transition: .3s;}
    a:hover img{transform: scale(1.05);}
  }
}

.page-category{
  background:#231B14 url("#{$img-path}/bg-wallet.svg") no-repeat 0 0/100%;
  padding-bottom: 80px;
  .box-wallet{
    padding: 99px 0 110px; border-bottom: 1px solid #6F6464;
    .item{
      min-height: 94px;
      flex-direction: column;
      background: rgba(22, 17, 13, 0.5);
      border: 1px solid #6F6464;
      border-radius: 9px;
      color: #fff;
      .na{margin-bottom: 7px; font-size: 20px; line-height: 1;}
    }
  }
  .box-inscriptions{
    padding: 75px 0 110px;
    .header{margin-bottom: 56px; justify-content: space-between;}
    .title{margin-bottom: 0; color: #EAC249;}
  }
  .box-list{
    grid-template-columns: repeat(2,1fr); grid-gap: 18px; padding-right: 76px;
  }
  .box-info{
    margin-bottom: 42px;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 16px;
    .item{padding: 17px 14px; background: #2B2626; border-radius: 9px; color: #fff;}
    h5{margin-bottom: 8px; font-weight: 400; font-size: 15px; line-height: 21px;}
    .na,a{font-size: 20px; line-height: 26px; color: #fff;}
    a{font-weight: 700; }
  }
  .box-coin{max-width: 390px; margin: 0 auto;}
  .box-select{margin: 0 60px 0 auto;}
  .na{font-weight: 700; color: #fff;}
  .social{
    a{width: 20px; height: 16px; filter: grayscale(1);}
  }
  .btn-show-list{
    width: 25px; height: 15px;
    background: url("#{$img-path}/icon-menu.svg") no-repeat;
    &:hover{filter: brightness(0.5);}
  }
  .btn-show-block{
    width: 17px; height: 17px;
    margin-left: 20px;
    background: url("#{$img-path}/icon-window.svg") no-repeat;
    &:hover{filter: brightness(0.5);}
  }
}
.wallet{
  margin: 0 auto;
  max-width: 465px; width: 100%;
  background: rgba(22, 17, 13, 0.8);
  border-radius: 15px;
  padding: 24px 16px 56px;
  .balance{
    margin: 66px 0 85px;
    h5{margin-bottom: 14px; font-weight: 400;}
    .na{font-size: 36px; line-height: 1;}
  }
  .box-btn{
    margin-bottom: 66px;
    padding: 0 20px;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
  }
  .txt{color: var(--yellow); font-weight: 700; font-size: 16px; line-height: 21px;}
  .icon-setting{width: 28px; height: 28px; display: block; background: url("#{$img-path}/setting.svg") no-repeat 0 0/contain;}
}
.box-coin{
  background: #2B2626;
  border-radius: 11px;
  padding: 18px 22px;
  .coin{
    &__info{padding-left: 16px;}
    .na{margin-bottom: 8px; font-size: 24px; line-height: 1;}
  }
}
.box-na{
  margin-left: auto;
  .na{margin-bottom: 8px; font-size: 24px; line-height: 1;}
  span{margin-left: -5px;}
}
.tab{
  display: flex;
  border: 1px solid #6F6464;
  padding: 5px 15px;
  border-radius: 9999px;
  overflow: auto;
  flex-wrap: nowrap;
  &::-webkit-scrollbar{height: 0;}
  a{
    display: inline-block;
    padding: 5px 14.5px;
    font-weight: 700;
    color: #fff;
    border-radius: 9999px;
    white-space: nowrap;
  }
  .active{background: var(--yellow); color: #16110D;}
}

//ai-generator
.ai-generator{
  padding: 85px 0 0;
  .title{margin-bottom: 30px; color: #EAC249;}
  .box-generate{
    padding: 52px;
    background: rgba(22, 17, 13, 0.5);
    border: 1px solid #6F6464;
    border-radius: 9px;
    input{
      width: 100%; max-width: 788px; margin: 0 auto; height: 91px;
      display: block;
      padding: 0 25px;
      border: none;
      background: #2B2626;
      border-radius: 11px;
      color: #D9D9D9;
      font-size: 18px; line-height: 24px;
      &:focus{box-shadow: none; outline: none;}
      &::placeholder{color: #D9D9D9;}
    }
    .btn-sub{width: 304px; max-width: 100%; margin: 44px auto 0;}
  }
  .list-generate{
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
  }
}
.inscribe{
  padding: 85px 0 60px; margin: 0 auto; max-width: 788px;
  &__tab{
    border-radius: 9px 9px 0 0;
    flex-wrap: nowrap;
    overflow: auto;
    &::-webkit-scrollbar{height: 0;}
    li{padding: 1px; background: #16110D;}
    li:first-child{border-radius: 9px 0 0 0;}
    li:last-child a,li:last-child{border-radius: 0 9px 0 0;}
    a{
      height: 40px; min-width: 109px; padding: 0 10px;
      display: flex; align-items: center; justify-content: center;
       background: #2B2626; color: var(--gray); font-weight: 700;
    }
    .active{background: none; color: var(--yellow);}
  }
  &__content{
    padding: 37px 26px 76px;
    background: rgba(22, 17, 13, 0.8);
    border-radius: 0px 15px 15px 15px;
  }
  .box-address{
    margin-bottom: 40px;
    h5{margin-bottom: 28px; font-size: 18px; line-height: 24px;}
    input{
      width: 100%; height: 65px;
      padding: 0 26px;
      background: #2B2626;
      border-radius: 11px;
      border: none;
      color: var(--gray);
      font-size: 18px; line-height: 24px;
      &::placeholder{color: var(--gray);}
      &:focus{outline: none; box-shadow: none;}
    }
  }
  .box-note{
    max-width: 605px;
    padding-left: 52px;
    font-size: 18px; line-height: 24px; font-style: italic;
    background: url(#{$img-path}/icon-info.svg) no-repeat left center;
  }
  .btn-remove{
    height: 40px; width: 186px;
    border: 1px solid #6F6464;
    border-radius: 9px;
    color: var(--gray);
    font-weight: 700;
    &:hover{background: var(--gray); color: #000;}
  }
  .btn-sub{width: 315px; max-width: 100%; margin: 40px auto 0;}
}
.box-upload{
  margin: 32px 0 45px;
  .upload{
    padding: 52px 15px 60px;
    background: #403939;
    border: 1px dashed #8A8A8A;
    border-radius: 11px;
    text-align: center;
    font-size: 18px; line-height: 24px;
    p{margin-bottom: 30px; font-weight: 700;}
    span{color: var(--gray);}
    input{width: 100%; height: 100%; position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer;}
  }
  .image-holder{
    margin-top: 20px;
    .img{
      padding: 5px; border-radius: 9px;
      width: 120px; height: 120px;
      border: 1px dashed #8A8A8A;
      position: relative;
    }
    img{height: 100%; width: 100%; object-fit: cover; border-radius: 4px;}
    .cancel{padding: 0 4px; background: #c00; color: #ccc; font-weight: 500; position: absolute; top: 5px; right: 5px;}
  }
  .icon-upload{
    width: 156px; height: 93px; display: block;
    background: url(#{$img-path}/upload.svg) no-repeat 0 0/contain;
    margin: 0 auto 50px;
  }
}

//brc
.brc-20,.brc-20-detail{
  padding: 85px 0 70px;
  h1{font-size: 20px; line-height: 56px;}
}
.brc-20-detail{
  .box-progress{margin: -45px 0 30px;}
  .progress{
    height: 7px; width: calc(100% - 100px); margin-top: 43px;
    background: #6F6464; border-radius: 5px; position: relative;
    &__val{height: 100%; background: #DD7903; position: absolute; left: 0;}
  }
  .text-right{
    font-weight: 500;
    p{margin-bottom: 15px; color: var(--gray);}
    span{color: #fff;}
  }
  .overview{
    background: rgba(22, 17, 13, 0.8);
    border-radius: 15px;
    .header,.brc-info{padding: 26px 36px;}
    .header{
      justify-content: space-between;
      border-bottom: 1px solid #6F6464;
    }
    .box-btn{
      >*+*{margin-left: 20px;}
      .btn-sub{width: 135px;}
      .btn-view{
        width: 200px; height: 40px;
        border: 2px solid #6F6464;
        border-radius: 9px;
        font-size: 16px;
        color: var(--yellow);
        font-weight: 700;
        &:hover{background: #6F6464;}
      }
    }
  }
  .brc-info{
    font-size: 12px; line-height: 16px;
    .item{margin-bottom: 16px;}
    h5,p{font-weight: 700;}
    h5{margin-bottom: 0; font-size: 12px; line-height: 16px; color: #8A8A8A;}
    a{color: var(--yellow); text-decoration: underline; font-weight: 400; word-break: break-all;}
    p{color: #D9D9D9;}
  }
  .tab-brc a{padding: 7px 34px;}
  .tab-content{
    padding: 36px;
  }
  .table-detail{
    th:nth-child(3),td:nth-child(3){padding-right: 90px;}
    span{border-bottom: 1px solid #fff;}
  }
  .pagination{margin-top: 46px;}
}
.brc-list{
  margin-top: 70px;
  background: rgba(22, 17, 13, 0.8);
  border-radius: 15px;
  padding: 46px 20px 20px;
}
.tab-brc{
  margin-bottom: 36px;
  flex-wrap: nowrap;
  background: #2B2626;
  border: 1px solid #6F6464;
  border-radius: 9999px;
  overflow: auto;
  &::-webkit-scrollbar{height: 0;}
  a{display: block; white-space: nowrap; padding: 7px 26px; font-weight: 700; color: var(--gray);}
  .active{
    background: #16110D;
    border-left: 1px solid #6F6464;
    border-right: 1px solid #6F6464;
    border-radius: 9999px;
  }

}
.box-table{
  overflow: auto;
  .row{margin: 0 0 15px; flex-wrap: nowrap;}
  .col{
    width: 19%; flex-basis: auto; padding: 5px 0;
    display: flex; align-items: center; justify-content: center;
    font-size: 14px; line-height: 19px; font-weight: 700;
    text-align: center;
    color: #D9D9D9;
    &:first-child{border-radius: 15px 0 0 15px; color: var(--yellow);}
    &:last-child{width: 5%; border-radius: 0 15px 15px 0;}
  }
  .row-head{
    .col{font-size: 16px; line-height: 21px; color: #fff;}
    .col:first-child{justify-content: flex-start;}
  }
  .row-body{
    .col{background: #2B2626;}
  }
  table{
    width: 100%; color: #D9D9D9;
    th{padding: 0 5px; color: #fff; font-size: 16px; line-height: 21px;}
    td{padding: 11px 5px; font-size: 14px; line-height: 19px; font-weight: 700;}
    td:first-child{color: #fff;}
    .val{margin-bottom: 4px;}
  }
  .box-progress{width: 100%; max-width: 142px;}
  .progress{
    height: 5px; width: 100%;
    margin-top: 3px;
    background: #6F6464; border-radius: 5px; position: relative;
    &__val{height: 100%; background: #DD7903; border-radius: 5px; position: absolute; left: 0;}
  }
  .arrow-down,.arrow-down-p{
    width: 10px; height: 11px;
    background: url("#{$img-path}/arrow-down.svg") no-repeat;
    margin-left: 5px;
  }
  .arrow-down-p{background: url("#{$img-path}/arrow-down-1.svg") no-repeat;}
  .btn-arrow-right{
    width: 40px; height: 40px; margin: 0 auto; border-radius: 50%;
    &:hover{background: #2a221b;}
  }
  .arrow-right{
    width: 9px; height: 14px;
    background: url("#{$img-path}/arrow-right.svg") no-repeat;
  }
}

.box-search{
  max-width: 735px;
  margin: 0 auto;
  background: #16110D;
  border: 1px solid #6F6464;
  border-radius: 11px;
  &.sm{
    width: 186px;
    border-radius: 9px;
    margin: 0;
    input{width: 140px; height: 40px; padding: 0 14px;}
    .btn-submit{width: 44px;}
    .icon-search{width: 18px; height: 18px;}
  }
  .d-flex{flex-wrap: nowrap;}
  input{
    width: calc(100% - 55px); height: 55px; border: none; background: none; padding: 0 23px; color: var(--gray);
    &::placeholder{color: var(--gray);}
  }
  input:focus{outline: none;}
  .btn-submit{
    width: 55px; border-left: 1px solid #6F6464;
    &:hover .icon-search{transform: scale(1.1);}
  }
  .icon-search{
    width: 24px; height: 25px;
    background: url("#{$img-path}/search.svg") no-repeat 0 0/contain;
    transition: .3s;
  }
}

//marketplace
.marketplace{
  padding: 85px 0 75px;
  h1{margin-bottom: 35px;}
  .tab-marketplace{
    margin: 0 -5px 30px;
    flex-wrap: nowrap;
    overflow: auto;
    &::-webkit-scrollbar{height: 0;}
    &::-webkit-scrollbar-thumb{background: none;}
    &::-webkit-scrollbar-track{background: none;}
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
      min-width: 118px;
      padding: 7.5px 10px;
      border: 2px solid #6F6464;
      border-radius: 9px;
      font-weight: 700;
      color: #fff;
    }
    span{padding: 0 23px; position: relative;}
    .active{
      padding: 7.5px 20px 7.5px 0;
      border: 2px solid #EAC249; color: var(--yellow);
      span::after{
        content: "";
        width: 14px; height: 9px;
        background: url("#{$img-path}/arrow-down-2.svg") no-repeat;
        position: absolute; right: 0; top: 6px;
      }
    }
  }
  .show-type{
    >*+*{margin-left: 12px;}
    button{min-width: 83px; padding: 0; font-weight: 700; color: #D9D9D9; text-align: left;}
    .active{color: var(--yellow);}
  }
  .filter{
    display: flex; align-items: center;
    margin-left: 30px;
    h5{margin-bottom: 0;}
  }
  .bar-control{
    flex-wrap: nowrap;
    padding-bottom: 23px;
    margin-bottom: 45px;
    border-bottom: 1px solid #6F6464;
    overflow: auto;
    &::-webkit-scrollbar{height: 0;}
  }
  .or-info{
    margin-left: auto;
    padding: 7.5px 21px;
    background: none;
    border: 2px solid #6F6464;
    border-radius: 9px;
    font-weight: 700;
    white-space: nowrap;
    color: var(--yellow);
  }
  .btn-reset{
    padding: 7px 8px;
    margin: 0 21px 0 18px;
    background: #6F6464;
    border-radius: 50%;
    &:hover{background: #444040;}
  }
  .btn-sub{
    padding: 0 38px; white-space: nowrap;
    .arrow-down{width: 14px; height: 9px; margin-left: 9px; background: url("#{$img-path}/arrow-down-2.svg") no-repeat; filter: brightness(0);}
  }
  .icon-reset{width: 15px; height: 17px; background: url("#{$img-path}/return.svg") no-repeat;}
  .select2-container .select2-selection--single .select2-selection__rendered{padding-left: 10px; font-weight: 700; font-size: 16px; color: #D9D9D9;}
  .pagination{margin-top: 35px;}
}
.marketplace-list{
  grid-template-columns: repeat(5,1fr);
  grid-gap: 20px;
  .item{
    background: #2B2626; border-radius: 9px; color: #D9D9D9;
    border: 1px solid #6F6464;
    font-size: 12px; line-height: 16px;
    .header{margin-bottom: 20px; padding: 11.85px 10.75px;}
    &:hover{border: 1px solid #DD7903;}
    &:hover .btn-buy{background: #766731; border: 1px solid #EAC249;}
  }
  .txt-2{
    p{padding: 0 2px;}
    p:nth-child(1){color: var(--yellow); font-weight: 700; font-size: 14px; line-height: 19px;}
    p:nth-child(2){color: var(--gray); font-size: 12px; line-height: 16px;}
  }
  .txt-3{
    padding-bottom: 8px;
    border-bottom: 1px solid #6F6464;
    p:nth-child(1){color: var(--yellow);}
  }
  .txt-4{
    padding: 10px 0;
    p{font-weight: 700;}
    p span{font-weight: 400; margin-left: 4px;}
  }
  .bottom{
    margin-top: 10px;
    background: #3A3839; padding: 8px 10.75px 16.5px;
    border-radius: 0px 0px 9px 9px;
  }
  h5{margin-bottom: 0; font-size: 12px; line-height: 16px;}
  .btn-transfer{padding: 2px 7px; background: #766731; color: #D9D9D9;}
  .btn-buy{
    height: 40px; width: 100%;
    background: #504949;
    border: 1px solid #6F6464;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-weight: 700; color: #fff;
  }
}

//modal
.modal{
  .modal-dialog{max-width: 828px;}
  .modal-content{
    padding: 28px 46px 45px;
    background: #2B2626;
    border-radius: 11px;
    span{color: var(--yellow);}
  }
  textarea{
    padding: 16px 26px;
    background: #403939;
    border: 1px solid #8A8A8A;
    border-radius: 11px;
    height: 230px; width: 100%;
    color: var(--gray);
    font-size: 18px; line-height: 24px;
    &:focus{outline: none;}
    &::placeholder{color: var(--gray);}
  }
  .radio-check-list{
    >*+*{margin-left: 32px;}
    label{
      margin-bottom: 0;
      font-weight: 700;
      color: #D9D9D9;
    }
    input{position: absolute; top: 0; left: 0; opacity: 0;}
    .checked{
      width: 38px; height: 38px;
      margin-right: 12px;
      border: 1px solid #EAC249;
      border-radius: 50%;
      position: relative;
      &::after{
        content: "";
        width: 26px; height: 20px;
        background: url(#{$img-path}/check.svg) no-repeat 0 0/contain;
        position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
        opacity: 0;
      }
    }
    input:checked + .checked::after{opacity: 1;}
  }
  .form-group{
    margin-bottom: 25px;
    label{margin-bottom: 0; width: 80px; font-weight: 700;}
    input{
      width: calc(100% - 80px); height: 60px;
      padding: 0 24px;
      background: #16110D;
      border: none;
      border-radius: 11px;
      font-size: 18px;
      line-height: 24px;
      color: var(--gray);
      &::placeholder{color: var(--gray);}
      &:focus{outline: none;}
    }
    input[type="number"]{color: #fff; font-weight: 700;}
  }
  .box-range{
    margin: 20px 0 10px;
    padding-top: 36px;
    &::before{
      content: "";
      width: calc(100% + 92px); height: 1px;
      background: #6F6464;
      position: absolute;
      top: 0; left: -46px;
    }
    p{margin-right: 16px; font-weight: 700;}
    p span{
      width: 60px; height: 60px;
      margin-left: 26px;
      background: #504949;
      border-radius: 11px;
      color: #fff;
    }
  }
  .btn-read-more{
    color: #DD7903;
    &:hover{text-decoration: underline;}
  }
  .btn-sub{width: 315px; margin: 40px auto 0;}
  .close{
    height: 40px; width: 135px;
    margin: 0 0 34px auto;
    border: 1px solid #6F6464;
    border-radius: 9px;
    text-shadow: none;
    color: var(--gray);
    opacity: 1;
    &:hover{color: var(--gray); background: #6F6464;}
  }
  .close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover{color: var(--gray);}
  input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }

  .slider {
    -webkit-appearance: none;
    width: calc(100% - 222px);
    height: 6px;
    border-radius: 5px;  
    background: #403939;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #2B2626;
    border: 2px solid #6F6464;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
}

//custom select2
.select2-container--default .select2-selection--single{background: none; border: none;}
.select2-container .select2-selection--single .select2-selection__rendered{padding-left: 20px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{color: #fff; font-size: 18px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{right: -4px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  width: 13px; height: 8px; display: block;
  background: url('#{$img-path}/arrow-down-3.svg') no-repeat;
  border: none;
  transform: rotate(180deg);
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{transform: rotate(0deg);}
.select2-search{display: none;}
.select2-results{padding: 10px 0;}
.select2-results__option{line-height: 30px; padding: 0 19px; color: #8A8A8A; font-size: 16px;}
.select2-dropdown{
  background: #403939;
  border-radius: 11px;
  border: none;
}
.select2-container--default .select2-results__option[aria-selected=true]{background: none; color: #fff;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background: none;}
.select2-container--open .select2-dropdown--above{top: -10px; border-bottom-left-radius: 11px; border-bottom-right-radius: 11px;}
.select2-container--open .select2-dropdown--below{border-top-left-radius: 11px; border-top-right-radius: 11px;}
.select2-results__option--highlighted{color: #ccc;}
.select2-container--open .select2-dropdown{margin-top: 10px;}

footer{
  padding: 134px 0;
  background: #000;
  position: relative;
  h2.title{margin-bottom: 15px;}
  .txt{color: #A6A6A6; font-family: 'Red Hat Display', sans-serif;}
  .social{
    margin: 68px 0 0; justify-content: center;
    >*+*{margin-left: 80px;}
  }
}

//uikit

.pr{position: relative;}
.pa{position: absolute;}
li{list-style: none;}
.social{
  >*+*{margin-left: 25px;}
  a{display: block; font-size: 0; width: 43px; height: 36px;}
  a:hover{filter: hue-rotate(45deg);}
  .telegram{
    background: url("#{$img-path}/telegram.svg") no-repeat 0 0/contain;
  }
  .twitter{
    background: url("#{$img-path}/twitter.svg") no-repeat 0 0/contain;
  }
  .discord{background: url("#{$img-path}/discord-icon.svg") no-repeat 0 0/contain;}
  .youtube{background: url("#{$img-path}/youtube.svg") no-repeat 0 0/contain;}
}

h1{margin-bottom: 18px; font: 36px/60px var(--Revalia); color: var(--yellow);}
h2.title{margin-bottom: 24px; color: #F6AE2D; font-size: 30px; line-height: 36px; font-family: var(--Revalia);}
.center{text-align: center;}
.btn-more{
  color: #DD7903; font-size: 16px; line-height: 21px; font-style: italic;
  &:hover{text-decoration: underline; color: #DD7903;}
}
.grid,.d-grid{display: grid;}
.d-flex{display: flex; flex-wrap: wrap;}
.mb-32{margin-bottom: 32px;}
.img-fit{width: 100%; height: 100%; object-fit: cover;}

.txt-xxs{font-size: 12px; line-height: 16px;}
.txt-xs{font-size: 16px; line-height: 21px;}
.txt-xd{font-size: 18px; line-height: 24px;}
.txt-sm{font-size: 20px; line-height: 26px;}
.txt-md{font-size: 24px; line-height: 36px;}
.txt-lg{font-size: 30px; line-height: 36px;}
.txt-xl{font-size: 36px; line-height: 60px;}
.f-revalia{font-family: 'Revalia', cursive;}
.py-md{padding-top: 84px; padding-bottom: 84px;}
.pt-md{padding-top: 84px;}
.pb-md{padding-bottom: 84px;}
.txt-gray-1{color: #D9D9D9;}
.txt-yellow{color: var(--yellow);}

button{
  background: none; padding: 0; cursor: pointer; border: none; transition: .25s;
  &:focus{outline: none;}
}
.btn-pr,.btn-sub{
  font-weight: 700;
  font-size: 15px; line-height: 20px;
}
.btn-pr{
  padding: 1px 10px;
  background: var(--orange);
  color: #16110D;
  &:hover{color: #4e4d4d;}
}
.btn-sub{
  height: 40px;
  background: #F6AE2D;
  border-radius: 9px;
  color: #16110D;
  font-weight: 700;
  font-size: 16px; line-height: 21px;
  &:hover{color: currentColor; background: #c78613;}
}
.breadcrumb{
  padding: 27.5px 0; background: none; margin-bottom: 0;
  a{font-weight: 500; color: #726666;}
  .active{font-weight: 700; color: var(--black);}
  .breadcrumb-item + .breadcrumb-item::before{font-weight: 400; padding-right: .1rem;}
  .breadcrumb-item + .breadcrumb-item{padding-left: .1rem;}
}
.pagination{
  margin-top: 15px;
  justify-content: center;
  color: #D9D9D9;
  li{margin: 0 4px;}
  .page-link{
    width: 24px; height: 24px;
    padding: 0;
    display: flex; align-items: center; justify-content: center;
    background: none; border: none;
    color: #D9D9D9; font-weight: 700; font-size: 12px; line-height: 16px;
  }
  .active .page-link{background: none; color: var(--yellow);}
  .page-item.disabled .page-link{background: none;}
  .icon{width: 7px; height: 11px; background: url("#{$img-path}/arrow-right.svg") no-repeat 0 0/contain;}
  .icon-prev{transform: rotate(180deg);}
}

@media (min-width: 1440px) {
  .container{max-width: 1308px;}
}
@media (max-width: 1440px) {
  .navbar-nav{
    >*+*{margin-left: 26px;}
  }
  .satoshi-frame6{
    .partner-list{
      a{height: 115px;}
    }
  }
  .page-category{
    .box-list{padding-right: 0;}
    .box-wallet{
      padding: 60px 0 80px;
    }
    .box-inscriptions{padding: 60px 0 0;}
  }
  .ai-generator,.brc-20,.brc-20-detail{padding-top: 65px;}
  .inscribe{padding: 60px 0;}
  footer{padding: 90px 0;}
}


@media (max-width: 1024px) {
  header{
    .navbar-toggle{display: block; position: absolute; right: 0;}
    .social{margin-left: 25px;}
    .b-coin{margin-left: 20px;}
  }
  .navbar{
    width: 100%; min-height: auto; justify-content: flex-start;
    .logo{width: 240px;}
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    align-items: flex-start;
    position: fixed; top: 66px; left: -100%;
    width: 100%; height: calc(100% - 66px);
    padding: 0;
    background: #000;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggle{
    display: block;
    width: 18px;
    height: 12px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 18px; height: 2px; border-radius: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 18px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 18px; transform: rotate(45deg);}
    span:after{width: 16px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    display: block;
    margin: 0;
    padding: 25px;
    >*+*{margin: 40px 0 0;}
    > li > a{line-height: inherit; padding: 0;}
    a{text-align: center; font-size: 16px;}
    .active::after{display: none;}
  }

  main{padding-top: 66px; overflow: hidden;}
  .marketplace-list{grid-template-columns: repeat(4, 1fr);}
  .bar-control{
    > div{margin: 8px 0;}
  }


  footer{}
  .social{
    >*+*{margin-left: 25px;}
  }
  .container{max-width: 100%;}
}

@media (max-width: 820px) {
  .satoshi-frame1{
    padding: 60px 0;
    .content{padding-top: 0;}
    p{margin-bottom: 25px;}
    ul{margin-bottom: 30px;}
  }
  .satoshi-frame2{
    padding: 60px 0;
    .content{margin-top: 0;}
  }
  .satoshi-frame3{
    padding: 60px 0;
  }
  .satoshi-frame4{
    padding-top: 60px;
    .img-wrapper{margin-left: 0;}
  }
  .satoshi-frame5::after{width: 100%;}
  .satoshi-frame6{
    padding: 60px 0;
    .partner-list{
      justify-content: center;
      a{height: 85px;}
    }
  }

  .page-category{padding-bottom: 60px;}
  .wallet{
    padding: 24px 16px 30px;
    .balance{margin: 45px 0 65px;}
  }
  .brc-20, .brc-20-detail,.marketplace{
    padding: 60px 0 40px;
    h1{line-height: 1.4;}
  }
  .brc-20-detail{
    .box-progress{margin: -32px 0 30px;}
    .progress{width: calc(100% - 82px);}
    .overview{
      .header,.brc-info{padding: 26px 16px;}
    }
    .tab-content{padding: 26px 16px;}
    .box-table{
      table{min-width: 460px;}
      .progress{width: 100%;}
    }
    .table-detail{
      th:nth-child(3),td:nth-child(3){padding-right: 15px;}
    }
    .pagination{margin-top: 26px;}
  }
  .brc-list{padding: 36px 15px 20px; margin-top: 50px;}
  .box-search.sm{
    width: 130px;
    .btn-submit{width: 32px;}
    input{width: 96px;}
  }
  .box-table{
    .col{min-width: 136px; font-size: 13px;}
    .col:last-child{min-width: 80px;}
    .row-head .col{font-size: 15px;}
  }
  .marketplace{
    .show-type{
      margin-right: 10px;
      button{min-width: 70px;}
    }
    .filter{margin-left: 20px;}
  }
  .marketplace-list{grid-template-columns: repeat(3, 1fr); grid-gap: 10px;}
  
  footer{padding: 60px 0;}

  h2.title{font-size: 26px; line-height: 30px;}
  .btn-sub{font-size: 15px;}
  .txt-xs{font-size: 15px;}
  .txt-xd{font-size: 16px; line-height: 22px;}
  .txt-xl{font-size: 42px; line-height: 56px;}
  .txt-lg{font-size: 24px; line-height: 34px;}
  .txt-sm{font-size: 18px; line-height: 24px;}
  .txt-md{font-size: 18px; line-height: 28px;}
}

@media (max-width: 767px) {
  .satoshi-frame1{
    .img-wrapper{
      padding-left: 0; margin-top: 40px;
      img{display: block; margin: 0 auto;}
    }
    ul li::before{width: 17px; height: 17px; top: 6px;}
  }
  .satoshi-frame2{
    .row{flex-direction: column-reverse;}
  }
  .satoshi-frame3,.satoshi-frame5,.satoshi-frame2{
    .content{margin-bottom: 30px;}
  }
  .satoshi-frame4{
    .row{flex-direction: column-reverse;}
    .content{margin-top: 0;}
  }
  .satoshi-frame6{
    .title{margin-bottom: 35px;}
    .partner-list{
      grid-template-columns: repeat(2,1fr);
      grid-gap: 15px;
    }
  }
  .wallet{
    .box-btn{padding: 0; margin-bottom: 45px; grid-gap: 16px;}
    .balance{
      margin: 35px 0 45px;
      .na{font-size: 32px;}
    } 

  }
  .box-coin{
    padding: 16px;
    .coin .na{font-size: 22px;}
  }
  .box-na .na{font-size: 22px;}
  .page-category{
    .box-list{margin-top: 30px;}
    .box-inscriptions{
      padding-top: 45px;
      .title{margin-bottom: 30px;}
      .header{margin-bottom: 45px;}
    }
    .box-info{grid-template-columns: repeat(3,1fr);}
    .box-select{
      margin: 0 20px 0 0;
    }
    .box-control{margin-top: 30px; width: 100%;}
  }
  .ai-generator{
    padding: 55px 0 0;
    h1{font-size: 30px; line-height: 48px;}
    .box-generate{
      padding: 24px;
      .btn-sub{margin-top: 30px;}
    }
  }
  .box-upload{
    .upload{padding: 35px 10px; font-size: 16px; line-height: 22px;}
  }
  .tab-brc{
    a{padding: 7px 20px;}
  }
  .brc-20-detail{
    .overview{
      .box-btn{
        width: 100%; margin-top: 20px;
        >*+*{margin-left: 15px;}
        .btn-view{max-width: 50%; font-size: 15px;}
        .btn-sub{max-width: 44%;}
      }
    }
  }
 

  footer{
    .social{
      margin-top: 38px;
      >*+*{margin-left: 36px;}
      a{width: 32px; height: 27px;}
    }
  }
  h1{font-size: 32px; line-height: 54px;}
}

@media (max-width: 480px) {
  .page-category{
    .box-info{grid-template-columns: repeat(2, 1fr);}
  }
  .ai-generator{
    .list-generate{grid-template-columns: repeat(2, 1fr); grid-gap: 16px;}
  }
  .inscribe{
    &__content{border-radius: 0 0 15px 15px; padding: 35px 15px;}
    .box-address{
      h5,input{font-size: 16px;}
      input{padding: 0 16px;}
    }
    .box-note{font-size: 16px; line-height: 22px;}
    h4{margin-bottom: 20px; font-size: 18px;}
    .btn-remove{width: 146px;}
  }
  .marketplace{
    .bar-control{margin-bottom: 25px;}
    .btn-sub{padding: 0 26px;}
    .tab-marketplace{margin-right: -15px;}
  }
  .marketplace-list{
    grid-template-columns: repeat(2, 1fr);
  }
  .modal{
    .modal-content{padding: 30px 16px;}
    textarea{height: 180px;}
    .radio-check-list{
      .checked{width: 32px; height: 32px;}
      .checked::after{height: 14px; width: 20px;}
    }
    .form-group{
      label{width: 70px;}
      input{width: calc(100% - 70px); height: 54px; padding: 0 16px; font-size: 16px;}
    }
    .box-range{
      padding-top: 26px;
      &::before{width: calc(100% + 32px); left: -16px;}
      p{width: 100%;}
      p span{width: 50px; height: 50px;}
    }
    .slider{width: 100%; margin-top: 26px;}
    .btn-sub{margin-top: 28px;}
    
  }
}

//animate
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}